<html>
  <head>
    <style>
    body {
      background: white;
      padding-top: 100px;
      text-align:center;
      font-size: 50px;
    }
      .after {
        font-size: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form class = "main">
  		<input type='text' name='guess' />
  		<input type='submit' value='Enter a word' />
	</form>
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Julius_Caesar.jpg" style="width:150px;"> 
  <p><%= message %></p>
  <p class = "after"><%= teaser %><p>
  </body>
</html>